$padding=32px
$margin=24px
.chart-box{
  width 235px
  // 图表的标题
  .chart-title{
    height 38px
    line-height 38px
    padding-left 12px
    background:rgba(247,247,247,1);
    font-size:14px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(0,0,0,0.65);
    .question-icon{
      color #48C597
      float right
      margin 12px 10px
    }
  }
  // 下面的每一行
  .line{
    padding 0 10px
    height 37px
    line-height 37px
    border-bottom 1px solid #E9E9E9
    img{
      width 24px
      height 24px
      vertical-align middle
      border-radius 50%
    }
    .right{
      text-align right
    }
  }
  .more{
    text-align right
    color: #48C597
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    padding 5px 10px
  }
}

.chart{
  height 300px
}

// 血压和血糖表的样式
.bloodchart-box{
  width 490px
  .blood-title{
    height 55px
    line-height 55px
    background-color: rgba(247,247,247,1)
    padding-left 16px
    margin-top 30px
  }
}

// 预警详情饼图的样式
.warnchart-box{
  width 520px
  height 217px
}
.warn-chart{
  height 217px
}
.unit-title {
  font-size:16px;
  font-family:PingFangSC-Medium,PingFang SC;
  font-weight:500;
  color:rgba(0,0,0,0.85);
  line-height:24px;
  padding-left: 24px;
  padding-top : 15px;
}

// 每一页的内容
.main{
  .page-title{
      height 55px
      line-height 55px
      background-color: #fff
      padding-left 50px
      font-size:20px;
      font-family:PingFangSC-Medium;
      font-weight:500;
      color: #000
    }
  .content-container {
    margin $margin
  }
}
